= form_with model: move, local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: move, key: :name
  = render "forms/horizontal/text_field", form: form, object: move, key: :video_url, help_text: "Ex: https://www.youtube.com/embed/<strong>VIDEOID</strong>?rel=0&modestbranding=1&autohide=1&showinfo=0&wmode=opaque".html_safe
  = render "forms/horizontal/text_area", form: form, object: move, key: :description, rows: 10
  = render "forms/horizontal/text_field", form: form, object: move, key: :tag_tokens
  = render "forms/horizontal/submit", form: form, object: move
