= form_for move, html: { class: 'form-horizontal' } do |f|
  - if move.errors.any?
    .alert.alert-warning
      %strong
        = pluralize move.errors.count, 'error'
        prohibited this move from being saved

      %ul
        - move.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :video_url, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :video_url, class: 'form-control'
      .alert.alert-default
        %strong.text-muted Example
        .text-muted
          = surround 'https://www.youtube.com/embed/', '?rel=0&modestbranding=1&autohide=1&showinfo=0&wmode=opaque' do
            %strong VIDEOID

  .form-group
    = f.label :description, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_area :description, class: 'form-control', rows: 10

  .form-group
    = f.label :tag_tokens, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :tag_tokens, class: 'form-control'

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'cancel', (move.new_record? ? moves_path : move)
