%h1 Moves

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Tags
      %th Created
      %th{ colspan: 2 }

  %tbody
    - @moves.each do |move|
      %tr
        %td= link_to move.name, move
        %td= move.tags.pluck(:name).join(', ')
        %td= move.created_at.strftime('%a, %B %d, %Y')
        %td= link_to 'Edit', edit_move_path(move)
        %td= link_to 'Destroy', move, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Move', new_move_path
