- @title = 'Moves'

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right
          = link_to plus_or('New Move'), new_move_path, class: 'btn btn-accent btn-shadow'
          .per-page= render 'layouts/per_page', per_page: 40, object_count: @moves.total_count
        = @title
        = render 'search/toggle'

= render 'search/simple', url: moves_path

- if params[:tag].present?
  .dashboard-container
    Filtering by
    = succeed '.' do
      %code=params[:tag]
    = link_to 'Clear Filter', moves_path

- if @moves.present?
  .dashboard-container
    %table.table.table-striped.table-borderless.table-hover
      %col
      %col
      %col
      %col
      %col{ width: '1px' }
      %thead
        %tr
          %th Name
          %th Tags
          %th Created
          %th.center Practiced Today
          %th

      %tbody
        - @moves.each do |move|
          %tr
            %td= link_to move.name, move
            %td
              - move.tags.each_with_index do |tag, index|
                - if index + 1 == move.tags.count
                  %small= link_to tag.name, moves_path(tag: tag.name)
                - else
                  = succeed ',' do
                    %small= link_to tag.name, moves_path(tag: tag.name)
            %td= move.created_at.strftime('%a, %B %d, %Y')
            %td.center
              - if move.practiced_today?
                %span.glyphicon.glyphicon-check
            %td
              = render 'layouts/edit_delete_dropdown', edit_url: edit_move_path(move), delete_url: move, delete_confirmation: 'Delete move?'
  .center= paginate @moves, theme: 'bootstrap'
- else
  .jumbotron.jumbotron-accent.jumbotron-shadow
    .text-center No moves found.

