- @title = @move.name

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right
          = render "layouts/edit_delete_dropdown", edit_url: edit_move_path(@move), delete_url: @move, delete_confirmation: "Delete #{@move.name}?"
        = @title

- if @move.video_url.present?
  .move-video-container
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{ src: @move.video_url, webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }

.mb-5
  - if @move.practiced_today?
    .jumbotron.jumbotron-accent.jumbotron-shadow.text-center
      %strong Practiced!
  - else
    .d-none.d-md-block.text-center
      = link_to "I Practiced This Today!", practiced_today_move_path(@move), method: :post, class: "btn btn-lg btn-accent btn-shadow"
    .d-block.d-md-none
      = link_to "I Practiced This Today!", practiced_today_move_path(@move), method: :post, class: "btn btn-accent btn-shadow btn-block"

.dashboard-container
  = render "forms/horizontal/show/text", object: @move, key: :name
  = render "forms/horizontal/show/markdown", object: @move, key: :description
  = render "forms/horizontal/show/generic", title: "Tags", content: render("moves/tags", move: @move)
  = render "forms/horizontal/show/generic", title: "Practice Dates", content: render("moves/practice_dates", move: @move)
