!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=Edge,chrome=1', http: { equiv: 'X-UA-Compatible' } }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'description', content: 'An app to help remember a more extensive salsa vocabulary, by highlighting moves not practiced recently, suggesting new patterns to chain to existing moves, and a way to quickly search through all moves.' }
    %meta{ name: 'author', content: 'Remo Mueller' }
    %meta{ name: 'keywords', content: 'salsa moves, learning salsa' }
    -# Don't cache any pages
    %meta{ name: 'turbolinks-cache-control', content: 'no-cache' }
    %title= [@title, ENV['website_name']].compact.join(' - ')

    = favicon_link_tag
    = csrf_meta_tags
    = action_cable_meta_tag

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      %script{ src: "//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" }
      %script{ src: "//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" }

    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: 'reload' }
    = javascript_include_tag 'application', data: { turbolinks_track: 'reload' }
    = javascript_tag "var root_url='#{request.script_name + '/'}';"
  %body
    = link_to 'HOME', root_path

    = render 'layouts/flash_messages'

    .container.body-content
      = yield
